/WebApplication1/nbproject/private/
/WebApplication1/build/
/LetsGoJavaBeans/nbproject/private/
/LetsGoJavaBeans/build/
/EL/nbproject/private/
/EL/build/
/JSTL/nbproject/private/
/JSTL/build/
/JDBC/nbproject/private/
/JDBC/build/
/JDBC2/nbproject/private/
/JDBC2/build/